NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=pizzazen_db
DB_USER=pizzazen
DB_PASSWORD=INSERISCI_PASSWORD_DB

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=STRINGA_LUNGA_CASUALE_ALMENO_64_CARATTERI
JWT_EXPIRES_IN=8h
JWT_REFRESH_EXPIRES_IN=7d

BASE_URL=http://192.168.1.160:3000
STORAGE_PATH=./storage
STORAGE_PROVIDER=local

CORS_ORIGIN=http://localhost:5173,http://192.168.1.160:3000
LOG_LEVEL=debug
WA_SESSION_PATH=./.wwebjs_auth
